<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New User</title>
  <link rel="stylesheet" href="./styles/main.css">
  <link rel="stylesheet" href="./styles/new.css">
</head>

<body>
  <h1>Add a Family Member</h1>
  <form action="/new" method="post">
    <p>What's your name?</p>
    <input type="text" name="name">

    <p>Pick a color:</p>
    <div class="color-picker">
      <input type="radio" name="color" id="red" value="red">
      <label for="red" class="red"></label>

      <input type="radio" name="color" id="green" value="green">
      <label for="green" class="green"></label>

      <input type="radio" name="color" id="yellow" value="yellow">
      <label for="yellow" class="yellow"></label>

      <input type="radio" name="color" id="olive" value="olive">
      <label for="olive" class="olive"></label>

      <input type="radio" name="color" id="orange" value="orange">
      <label for="orange" class="orange"></label>

      <input type="radio" name="color" id="teal" value="teal">
      <label for="teal" class="teal"></label>

      <input type="radio" name="color" id="blue" value="blue">
      <label for="blue" class="blue"></label>

      <input type="radio" name="color" id="violet" value="violet">
      <label for="violet" class="violet"></label>

      <input type="radio" name="color" id="purple" value="purple">
      <label for="purple" class="purple"></label>

      <input type="radio" name="color" id="pink" value="pink">
      <label for="pink" class="pink"></label>
    </div>

    <div class="spacer"></div>
    <button type="submit">Add</button>
  </form>
</body>

</html>
